html {
    scroll-behavior: smooth;
}

.skip a {
    background: white;
    color: black;
    top: -40px;
    left: 0;
    padding: 10px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

.header_content {
    background-color: #D14F7B;
    /* #193337; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header_content h1, a {
    color: black;
}

.header_content h1 {
    padding: 20px 0;
    font-size: 40px;
    font-weight: bold;
}

#home {
    font-weight: bold;
    border: 2px solid black;
}

.navigation_links li {
    font-size: 20px;
    padding: 5px;
}

*:focus {
    border: 3px solid #000000;
}

#main {
    background-color: #F1ABB9;
}

#main>h1 {
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}

#main>h2 {
    font-size: 32px;
    padding: 20px;
    text-align: center;
}

#main img {
    margin: auto;
}

#img {
    display: none;
    width: 30%;
}

#gif {
    display: block;
}

#main>p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 1.2;
}

footer {
    background-color: #D14F7B;
    color: black;
    padding: 20px 10px;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    #img {
        display: block;
    }

    #gif {
        display: none;
    }
}

/* Since the tablet screen resolution varies between 768px and 1280px in width,
we set the min-width of tablet website viewport to be 700px */
@media screen and (min-width: 700px) {
    .navigation_links {
        flex-direction: row;
        /* flex-wrap: ; */
        justify-content: space-between;
    }

    .navigation_links li {
        padding: 7px 20px;
        font-size: 25px;
    }

    #main>p {
        font-size: 25px;
    }
}

/* Since 1280px and 1920px are the two standard widths for web design,
we set the min-width of laptop website view to be 1200px */
@media screen and (min-width: 1200px) {
    .header_content {
        flex-direction: row;
        /* flex-wrap: ; */
        justify-content: space-between;
    }

    .header_content h1 {
        padding: 20px 20px;
    }

    #main p {
        width: 50%;
    }
}